body {
    height: 100vh;
}

header {
    height: 80px;
    line-height: 80px;
}

.left-header>h1 {
    vertical-align: middle;
    margin-left: 20px;
}

main {
    height: calc(100vh - 140px);
    background-color: #7FFFD4;
}

.container>.row {
    width: 400px;
    height: 400px;
    --bs-gutter-x: 0 !important;
    aspect-ratio: 1/1;
}

.size-easy {
    display: flex;
    flex-basis: calc(100% / 10);
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}

.size-medium {
    display: flex;
    flex-basis: calc(100% / 9);
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}

.size-hard {
    display: flex;
    flex-basis: calc(100% / 7);
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}


.black-border {
    border: 1px solid black;
}
